$creamColor: hsl(30, 38%, 92%);
$darkCyanColor: hsl(158, 36%, 37%);
$veryDarkGreenColor: hsl(158, 96%, 10%);
$darkGrayishBlueColor: hsl(228, 12%, 48%);
$whiteColor: hsl(0, 0%, 100%);

$mobileWidth: 24rem;
$desktopWidth: 48rem;

$fontHeading: "Fraunces", serif;
$fontNormal: "Montserrat", sans-serif;
$fontSize: 0.875rem;

@mixin boldText {
  font-weight: 700;
}

@mixin flexDisplay($justifyPosition) {
  display: flex;
  justify-content: $justifyPosition;
  align-items: center;
}

body {
  @include flexDisplay(center);
  min-height: 100vh;
  background-color: $creamColor;
}

.card {
  background-color: $whiteColor;
  border-radius: 0.625rem;
  font-family: $fontNormal;
  font-weight: 500;
  height: auto;
  p {
    color: $darkGrayishBlueColor;
    font-size: $fontSize;
    line-height: 1.5;
  }
}

.card-content {
  padding: 1rem;
}

.card-image img {
  border-top-left-radius: 0.625rem;
  max-inline-size: 100%;
}

.category {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.card-title {
  font-family: $fontHeading;
  @include boldText();
}

.prices {
  @include flexDisplay(start);
  gap: 1rem;
}

.new-price {
  font-family: $fontHeading;
  @include boldText();
  color: $darkCyanColor;
  font-size: 2rem;
}

.old-price {
  text-decoration: line-through;
}

button {
  background-color: $darkCyanColor;
  border-radius: 0.625rem;
  @include boldText();
  color: $whiteColor;
  width: 100%;
  padding: 1rem;
  &:hover {
    background-color: $veryDarkGreenColor;
    cursor: pointer;
  }
}

@media screen and (max-width: $desktopWidth) {
  .container {
    max-width: $mobileWidth;
  }

  .card-image img {
    border-top-right-radius: 0.625rem;
  }
}

@media screen and (min-width: $desktopWidth) {
  .container {
    max-width: 34rem;
  }

  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .card-image img {
    border-bottom-left-radius: 0.625rem;
    height: 100%;
    object-fit: cover;
  }
}
